.root{
    -fx-base: #AFC1FA;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
}

#botonesPrincipales{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , #818185, 0, 0.0, 0, -1);
}

#botonesPrincipales:pressed {
    -fx-background-color: #818185;
}

#titulo {
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#toolbarSuperior {
    -fx-background-color: #577DF5;
}

.Vbox{
    -fx-background-color: #D7E0FE;
}

.label{
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-alignament: center;
}

.table-view {
    -fx-background-color: #FCFCFE;
}

.list-view {
    -fx-background-color: #FCFCFE;
}
