.root{
    -fx-base: #779ac2;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
}

#botonesPrincipales{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , #818185, 0, 0.0, 0, -1);
}

#botonesPrincipales:pressed {
    -fx-background-color: #93939e;
}

#titulo {
    -fx-text-fill: black;
    -fx-font-size: 14;
}

#toolbarSuperior {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #2651dd, #6b8dfd);
}

#toolbarSuperiorSinEfecto {
    -fx-background-color: #6b8dfd;
}

.tool-bar{
    /*-fx-background-color: #567fb9;*/
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #3c639b, #567fb9);
}

.vbox{
    -fx-background-color: #0e1013;
}

.label{
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-weight: normal;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-alignament: center;
}

.table-view {
    -fx-background-color: #FCFCFE;
}

.list-view {
    -fx-background-color: #FCFCFE;
}

